$primary-1-color: #e94347;
$primary-2-color: #132440;
$secondary1-color: #43e9e5;
$secondary2-color: #7b61ff;
$background: #e4ebf3;
$text-color: #132440;
$success: #47e943;
$warning: #ffc53a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}